pydantic
python-dotenv
langchain
langchain_openai
langchain_groq
langchain_core
langchain_community
wikipedia
youtube_search
langgraph
chromadb
pypdf
pillow
pdfplumber
pymupdf
openai
tiktoken
faiss-cpu
langchain_groq
langgraph
chromadb
langchain_tavily
